<html>
  <head>
      <title>To-Do lists</title>
  </head>
  <body>
    <h1>Your To-Do list</h1>
    <form method="POST" action="/lists/{{ list.id }}/add_item">
      <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />

      <input name="priority_text" id="id_new_priority" placeholder="Enter a to-do priority" />
      <p>
        <input type="submit"value="Summit">
      </p>
      {% csrf_token %}
    </form>
    <table id="id_list_table">
      {% for item, priority in items_and_priorities %}
        <tr><td>{{ forloop.counter }}: {{ item.text }} ({{ priority.text }})</td></tr>
      {% endfor %}
    </table>
  </body>
</html>
