<!doctype html>
<html lang="en" data-bs-theme="dark">

  <head>
    <title>To-Do lists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container mt-5">

      <!-- แยกพื้นหลังและการเว้นวรรคออกมาเป็น Card หรือ Div รอบนอก -->
      <div class="p-5 bg-body-tertiary rounded-3 text-center">
        
        <h1 class="display-1 mb-4">{% block header_text %}{% endblock %}</h1>

        <!-- ใช้ Row สำหรับจัดฟอร์มให้อยู่ตรงกลาง -->
        <div class="row justify-content-center">
          <div class="col-lg-6">
            
            <form id="todo-form" method="POST" action="{% block form_action %}{% endblock %}">
              <input
                class="form-control form-control-lg text-center"
                name="item_text"
                id="id_new_item"
                placeholder="Enter a to-do item"
              />

              {% if error %}
                <div class="invalid-feedback d-block fw-bold fs-5">
                  {{ error }}
                </div>
              {% endif %}
              
              <div class="mt-3">
                <label for="id_new_priority" class="form-label"><h3>Priority :</h3></label>
                <input 
                  name="priority_text" 
                  id="id_new_priority" 
                  class="form-control text-center"
                  placeholder="Enter a to-do priority" 
                />
              </div>

              <p class="mt-3">
                <input type="submit" value="Submit" class="btn btn-primary">
              </p>
              
              {% csrf_token %}
            </form>

          </div>
        </div>

      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-8">
          {% block table %}
          {% endblock %}
        </div>
      </div>

    </div>
    
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
    
  </body>
</html>