name: Sync to Hugging Face hub
on:
  push:
    branches: [feature/refactor-priority]  

  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true 

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          
        run: git push --force https://oauth2:$HF_TOKEN@huggingface.co/spaces/SDP2-2025-Group1/django-tdd-app HEAD:main