name: Sync To-Do App to HF
on:
  push:
    branches: [ "feature/refactor-priority" ]  # <--- ONLY runs on this branch
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # Pushes to the OLD space (django-tdd-app)
        run: git push --force https://oauth2:$HF_TOKEN@huggingface.co/spaces/SDP2-2025-Group1/django-tdd-app HEAD:main